body{
background-color: black;
}
.layout{
  display: grid;
  /* background-color: pink; */
  grid-template-columns: repeat(5,1fr);
  gap: 5px;
  /* margin: 8%; */
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
  "h h h h h"
  "sb1 m m m sb2"
  "f f f f f";
}
.lay{
  background-color: pink;
  font-size: 30px;
  display: grid;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  /* grid-template-rows: 1fr 2fr 1fr; */

}
.header{
  grid-area: h;
}
.div1{
grid-area: sb1;
}
.div2{
grid-area: m;
}
.div3{
grid-area: sb2;
}
.footer{
  grid-area: f
  ;
}